<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="etsiest.css">
  <title>Etsy</title>
</head>

<body>
<div class="container">
  <header>
      <h1 class="logo"><img src="https://www.etsy.com/assets/dist/images/etsylogo.20150529203416.png"></h1>
      <nav>
        <a href="#">Search</a>
        <a href="#">Browse</a>
        <a href="#">Home</a>
        <a href="#">Favorites</a>
        <a href="#">You</a>
        <a href="#">Cart</a>
      </nav>
  </header>

  <div class="main">
    
  </div>

  <div class="sidebar">
    <ul>
      <li>All Categories</li>
      <li>Home &amp; Living</li>
      <li>Art &amp; Collectibles</li>
      <li>Weddings</li>
      <li>Clothing</li>
      <li>Jewelry</li>
      <li>Paper &amp; Party Supplies</li>
      <li>Accessories</li>
      <li>Craft Supplies &amp; Tools</li>
      <li>Bags &amp; Purses</li>
      <li>Bath &amp; Beauty</li>
      <li>Shoes</li>
      <li>Books, Movies &amp; Music</li>
      <li>Electronics &amp; Accessories</li>
      <li>Pet Supplies</li>
      <li>Toys &amp; Games</li>
    </ul>
  </div>

  <footer>
    &copy; 2015 Etsy, Inc
  </footer>

</div>
</body>
</html>
